body{
	background-color: black;
	color: green;
}
div{
	text-align: center;
}
a{
	text-decoration: none;
}
p{
	color: #5f5f5f;
	font:normal 20px/40px 'Microsoft Yahei';
	text-indent: 40px
}



.new_style_button{
	width: 1000px;
	position: relative;	
	display: inline-block;
}
.new_style_button:active{
	top:2px;
	left: 2px
}
.new_style_button{
	border-left:1;
	width: 100px;
	position: relative;
}