<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件系统</title>
</head>
<body>
<h4>文件上传</h4>
<form action="/decrypt" enctype="multipart/form-data" method="post">
   {% csrf_token %}
    上传文件：<br>
    <input type="file" name="pic"> <br>
    <input type="submit" value="上传并解密">
</form>
<h4>软件下载</h4>
<div><a href="/static/kpi/soft/pycharm-professional.exe" download="">Pycharm软件下载</a> </div>
<div><a href="/static/kpi/soft/bdcamsetup.zip" download="">录屏软件下载</a></div>
<div><a href="/static/kpi/soft/IE9.zip" download="">IE9软件下载</a></div>
<div><a href="/static/kpi/soft/office2016.7z" download="">office2016软件下载</a></div>
<div><a href="/static/kpi/soft/python-3.6.2-amd64.exe" download="">Python软件下载</a></div>
<div><a href="/static/kpi/soft/UiBot Creator_community_official_zh-cn_x64_V2020.08.06.1556.exe" download="">UiBot软件下载</a></div>
<div><a href="/static/kpi/soft/按键精灵2014.zip" download="">按键精灵软件下载</a></div>
<div><a href="/static/kpi/soft/python包.zip" download="">python包软件下载</a></div>
<div><a href="/static/kpi/soft/Microsoft Toolkit 2.4.3.7z" download="">Office2010激活软件下载</a></div>
<div><a href="/static/kpi/css/bootstrap.min.css" download="">Net4.0软件下载</a></div>
<div><a href="/static/kpi/soft/sql server 2019.7z" download="">SQL Server 2019软件下载</a></div>
<div><a href="/static/kpi/soft/Office365部署下载.7z" download="">Office365部署软件下载</a></div>
<div><a href="/static/kpi/soft/windows6.1-kb4474419-v3-x64.msu" download="">Windows更新下载</a></div>
<div><a href="/static/kpi/soft/NETFramework_4.6.2.zip" download="">NETFramework_4.6.2.zip下载</a></div>
<div><a href="/static/kpi/soft/NETFramework_4.6.2.zip" download="">NETFramework_4.6.2.zip下载</a></div>
<div><a href="/static/kpi/soft/bin.rar" download="">bin.rar下载</a></div>
<div><a href="/static/kpi/soft/Python(含包).7z" download="">Python(含包).7z下载</a></div>
<div><a href="/static/kpi/soft/WiseCare365.7z" download="">WiseCare365.7z下载</a></div>
<div><a href="/static/kpi/soft/draw.io-13.7.3-windows-installer.exe" download="">draw.io下载</a></div>
<div><a href="/static/kpi/soft/mysql-installer-community-8.0.21.0.msi" download="">MySQL8.0下载</a></div>
<div><a href="/static/kpi/soft/VC_redist.x64_2019.exe" download="">Mircosoft C++ 2019下载</a></div>
<div><a href="/static/kpi/soft/管理科项目包.7z" download="">管理科项目包.7z下载</a></div>
<div><a href="/static/kpi/soft/出口组项目环境安装.7z" download="">出口组项目环境安装.7z下载</a></div>


<h4>视频下载</h4>
<div><a href="/static/kpi/soft/【Infor LN 10.7操作培训】—主数据、采购管理、销售管理、仓储管理（20200923）.mp4" download="">【Infor LN 10.7操作培训】—主数据、采购管理、销售管理、仓储管理（20200923）下载</a></div>

<h4>书籍下载</h4>
<div><a href="/static/kpi/soft/别怕，EXCEL+VBA其实很简单.pdf" download="">别怕，Excel VBA其实很简单下载</a></div>
<div><a href="/static/kpi/soft/VBA培训.7z" download="">VBA培训.7z下载</a></div>
<div><a href="/static/kpi/soft/VBA培训第二课.7z" download="">VBA培训第二课.7z下载</a></div>


</body>
</html>