<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="财务数据系统" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\931304\AppData\Local\Programs\Python\Python36\python.exe|C:\Users\931304\AppData\Local\Programs\Python\Python36\Lib\site-packages\wfastcgi-3.0.0-py3.6.egg\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
